<div class="menu">
  <!-- <div class="tooglehead">
    <div class="toggle">fgxfdgdf</div>
  </div> -->
  <div class="icon-container">
    <div class="icon-item" (click)="navigateTo('/contact')">
      <mat-icon class="icon-3d">contact_phone</mat-icon>
      <span>Contact</span>
    </div>
    <div class="icon-item" (click)="navigateTo('/resume')">
      <mat-icon class="icon-3d">description</mat-icon>
      <span>Resume</span>
    </div>
    <div class="icon-item" (click)="navigateTo('/study')">
      <mat-icon class="icon-3d">school</mat-icon>
      <span>Study</span>
    </div>
    <div class="icon-item" (click)="navigateTo('/about')">
      <mat-icon class="icon-3d">person</mat-icon>
      <span>About Me</span>
    </div>
    <div class="icon-item" (click)="navigateTo('/work')">
      <mat-icon class="icon-3d">work</mat-icon>
      <span>Work</span>
    </div>
    <div class="icon-item" (click)="navigateTo('/projects')">
      <mat-icon class="icon-3d">code</mat-icon>
      <span>Projects</span>
    </div>
  </div>
</div>
