<div class="study-container">
  <div class="study-header">
    <h1>My Studies</h1>
    <p>Check out my educational background and achievements.</p>
  </div>
  <div class="study-content">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Bachelor of Science in Computer Science</mat-card-title>
        <mat-card-subtitle
          >University of Example, 2016 - 2020</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content>
        <p>GPA: 3.8</p>
        <p>Graduated with honors and distinction.</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Online Courses</mat-card-title>
        <mat-card-subtitle>Udemy, Coursera, and edX</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Completed various online courses in web development, data science, and
          cloud computing.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>High School Diploma</mat-card-title>
        <mat-card-subtitle>Example High School, 2012 - 2016</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Graduated with a focus on science and mathematics.</p>
        <p>
          Participated in various extracurricular activities and competitions.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Coding Bootcamp</mat-card-title>
        <mat-card-subtitle>Coding Dojo, 2019</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Completed a 3-month intensive coding bootcamp.</p>
        <p>
          Learned full-stack web development with Python, JavaScript, and MERN
          stack.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
