<div class="resume-card">
  <div class="resume-header">
    <h2>Samundra Adhikari</h2>
    <p>Software Engineer</p>
  </div>
  <div class="resume-content">
    <div class="resume-section">
      <h3>Education</h3>
      <p>Bachelor of Science in Computer Science</p>
      <p>University of Example, 2016 - 2020</p>
      <p>GPA: 3.8</p>
    </div>
    <div class="resume-section">
      <h3>Work Experience</h3>
      <p>Software Engineer</p>
      <p>Example Company, 2020 - Present</p>
      <ul>
        <li>
          Developed and maintained web applications using Angular and Node.js
        </li>
        <li>
          Collaborated with cross-functional teams to deliver high-quality
          software
        </li>
        <li>Implemented new features and bug fixes in a timely manner</li>
      </ul>
    </div>
    <div class="resume-section">
      <h3>Skills</h3>
      <ul>
        <li>
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg"
            alt="Angular"
            width="20"
            height="20"
          />
          Angular
        </li>
        <li>
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"
            alt="Node.js"
            width="20"
            height="20"
          />

          Node.js
        </li>
        <li>
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"
            alt="TypeScript"
            width="20"
            height="20"
          />
          TypeScript
        </li>
        <li>
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
            alt="HTML5"
            width="20"
            height="20"
          />
          HTML
        </li>
        <li>
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"
            alt="CSS3"
            width="20"
            height="20"
          />
          CSS
        </li>
        <li>
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
            alt="JavaScript"
            width="20"
            height="20"
          />
          JavaScript
        </li>
        <li>
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"
            alt="Git"
            width="20"
            height="20"
          />
          Git
        </li>
      </ul>
    </div>
  </div>
  <div class="resume-actions">
    <button class="download-btn">Download Resume</button>
  </div>
</div>
